            * {
            padding: 0;
            margin: 0;
            border: none;
            outline: none;
            box-sizing: border-box;
            }
            
            
            body {
            display: flex;
            justify-content: center;
            height: 100vh;
            background: linear-gradient(#ffffff, rgb(115, 210, 242), pink);
            background-size: 200% 200%;
            animation: Animation 5s ease infinite;
            }@keyframes Animation{
                0%{background-position:10% 0%}
                50%{background-position:91% 100%}
                100%{background-position:10% 0%}
                
            }
            
            .area {
            margin: 6rem auto;
            text-align: center;
            }
    
            
            .area .title {
            font-size:3.5rem;
            font-family: fantasy;
            color:#063841;
            box-shadow:0 .1rem .2rem rgba(0, 0, 0, 0.7);
            background:linear-gradient(to right,rgb(54, 162, 198),white,rgb(51, 51, 162));
            text-align: center;
            padding: .6rem 1.4rem;
            border-radius: .8rem;
            border: .1rem solid rgb(8, 1, 45);
            }
            
            
            .area .btnStart {
            margin: 10rem auto;
            padding: 1.2rem 2rem;
            font-size: 1.2rem;
            box-shadow:0 .2rem .3rem rgba(0, 0, 0, 0.7);
            color:rgb(68, 3, 28);
            border-radius: 2rem;
            cursor: pointer;
            background-color:cornflowerblue;
            }
            
            .area .btnStart:hover {
            box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, 0.7);
            }
            
            
            .area .modal {
            position: absolute;
            top: -120%;
            left: 0; right: 0;
            background-color: #19264acc;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
            
            label {
            padding: .6rem;
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: .2rem;
            color: #fff;
            }
            
            
            .area .modal.active {
            top: 0;
            height: 100vh;
            }
            
            
            .modal input[type=text] {
            width: 55px;
            padding: .6rem;
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 1.4rem;
            border-radius: .8rem;
            color: darkslateblue;
            border: .1rem solid rgb(1, 1, 90);
            }
            
            .modal input[type=submit]:hover {
            box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .3);
            }
            
            
            .block {
            display: flex;
            justify-content: center;
            float: left;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border: .2rem solid white;
            font-size: 2.5rem;
            text-align: center;
             color: rgb(8, 1, 45);
             background: linear-gradient(#0000ee82,lightgreen);
        
            }
            
            
            .control {
            position: absolute;
            bottom: 3rem;
            left: 41%;
            }
            
            
            .btn_restart,
            .btn_quit {
            padding: .6rem 1.6rem;
            font-size: 1.2rem;
            margin: 0 .3rem;
            box-shadow: 0 .1rem .2rem rgb(1, 1, 90);
            color: #fff;
            border-radius: 1.2rem;
            cursor: pointer;
            }
            
            .btn_restart {
            background-image: linear-gradient(to right,
            #00404f 0%,
            #bc80f7 51%,
            #3e0b22 100%);
            font-family:cursive;
            }
            
            .btn_restart:hover {
                color: rgb(49, 49, 129);
            box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .2);
            }
            
            
            .btn_quit {
         background-image: linear-gradient(to right,
            #00404f 0%,
            #bc80f7 51%,
            #3e0b22 100%);
            font-family:cursive;
            }
            
            .btn_quit:hover {
                color: rgb(49, 49, 129);
            box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .2);
            }
            
            .winner {
            position: absolute;
            top: -120%;
            left: 0;
            right: 0;
            background-color: rgba(203, 151, 151, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }

           .winner.active {
               top:0;
               height:100vh;
           }
            
            .winner h2 {
            font-size: 2rem;
            background-color:rgba(45, 27, 255, 0.4);
            padding: 1.8rem 2.2rem;
            margin: 2rem;
            border-radius: 1.2rem;
            color: white;
            }
            
            
            
            @media (max-width: 1200px) {
            .control {
            left: 10%;

            }
            }
            
            
            @media (max-width: 560px) {
            .area .title {
            font-size: 2, 4rem;
            }
            
            label {
            margin-top: 5rem;
            }
            
            .control {
            bottom: 1rem;
            }
            }
            
            
            @media (max-width: 360px) {
            .area .title {
            font-size: 2rem;
            }
            
            .area .btnStart {
            font-size: 1rem;
            padding: 1rem 1.8rem;
            }
            
            }
         
